<ion-header *ngIf="showTime">
  <ion-navbar color="dark" id="timerBar">
      <p>{{timerStr}}</p>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="canvas" [style.height]="canvasHeight">
    <img id="canvas-image" *ngIf="imageSrc" [src]="imageSrc"/>
    <img id="drawing-image" *ngIf="imageDrawingSrc" [src]="imageDrawingSrc"/>
    <img id="text-image" *ngIf="imageTextSrc" [src]="imageTextSrc"/>
    <signature-pad [style.zIndex]="zPaint" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
    <canvas #canvastext id="canvas-text" [width]="canvasWidth" height="100" [style.zIndex]="zText" (tap)="canvasTapped($event)">
    </canvas>
  </div>
  <ion-fab right bottom *ngIf="!toolbarShow && !publishing && !published">
    <button ion-fab (tap)="toolbarShow = true"><ion-icon name="create"></ion-icon></button>
  </ion-fab>
  <ion-fab right bottom *ngIf="!publishing && published">
    <button ion-fab (tap)="showComments()"><ion-icon name="text"></ion-icon></button>
  </ion-fab>
</ion-content>

<ion-footer *ngIf="toolbarShow && !publishing && !published">
  <ion-toolbar color="dark" *ngIf="(textStyleShow || paintStyleShow) && toolbarShow">
    <button *ngFor="let color of colors" color="{{color}}" class="colorButton" ion-button icon-left (tap)="changeColorFromToolbar(color)">
    </button>
    <div *ngIf="textStyleShow">
      <div class="textInput">
        <ion-input id="canvas-text-input" type="text" [value]="canvasTextValue" [(ngModel)]="canvasTextValue" placeholder="{{ textPlaceholder }}"></ion-input>
      </div>
      <ion-buttons id="submitText">
        <button ion-button (tap)="updateText()">Submit</button>
      </ion-buttons>
    </div>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-buttons>
      <button id="textButton" color="{{ textButtonColor }}" ion-button icon-left icon-only (tap)="toggleStyleBar('text')">
        <ion-icon name="md-text"></ion-icon>
      </button>
      <button id="paintButton" color="{{ paintButtonColor }}" ion-button icon-left icon-only (tap)="toggleStyleBar('paint')">
        <ion-icon name="brush"></ion-icon>
      </button>
      <button showWhen="android,ios" ion-button icon-left color="royal" on-tap="openGallery()" icon-only>
        <ion-icon name="image"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (tap)="toolbarShow = false" icon-right id="hide">Hide</button>
      <button ion-button (tap)="clearRock()" icon-right>Clear</button>
      <button showWhen="android,ios" ion-button icon-right (tap)="publishRock()">Publish!<ion-icon name="send"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
