<ion-header>
  <ion-navbar>
    <ion-title>
      Virtual Rock
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content id="back" scroll="false">
  <div id="canvas">
    <div class="gallery-image">
      <img id="canvas-image" *ngIf="imageSrc" [src]="imageSrc"/>
      <signature-pad [style.zIndex]="zPaint" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
      <div id="canvas-text" [style.zIndex]="zText" (tap)="canvasTapped($event)">
      </div>
    </div>
  </div>
  <!-- TODO: Fix initial position of textarea (or hide it or something). -->
  <textarea autosize (tap)="editTextPosition()" [style.top]="textPositionY" [style.left]="textPositionX" [style.color]="textColor" id="caption" placeholder="Enter text..." ></textarea>
</ion-content>
<ion-footer>
  <ion-toolbar *ngIf="textStyleShow">
    <button id="text-red" color="red" class="colorButton" ion-button icon-left (tap)="changeTextColor('red')">
    </button>
    <button id="text-blue" color="blue" class="colorButton" ion-button icon-left (tap)="changeTextColor('blue')">
    </button>
    <button id="text-green" color="green" class="colorButton" ion-button icon-left (tap)="changeTextColor('green')">
    </button>
    <button id="text-yellow" color="yellow" class="colorButton" ion-button icon-left (tap)="changeTextColor('yellow')">
    </button>
    <button id="text-black" color="black" class="colorButton" ion-button icon-left (tap)="changeTextColor('black')">
    </button>
    <button id="text-white" color="white" class="colorButton" ion-button icon-left (tap)="changeTextColor('white')">
    </button>
  </ion-toolbar>
  <ion-toolbar *ngIf="paintStyleShow">
    <button id="paint-red" color="red" class="colorButton" ion-button icon-left (tap)="changePaintColor('red')">
    </button>
    <button id="paint-blue" color="blue" class="colorButton" ion-button icon-left (tap)="changePaintColor('blue')">
    </button>
    <button id="paint-green" color="green" class="colorButton" ion-button icon-left (tap)="changePaintColor('green')">
    </button>
    <button id="paint-yellow" color="yellow" class="colorButton" ion-button icon-left (tap)="changePaintColor('yellow')">
    </button>
    <button id="paint-black" color="black" class="colorButton" ion-button icon-left (tap)="changePaintColor('black')">
    </button>
    <button id="paint-white" color="white" class="colorButton" ion-button icon-left (tap)="changePaintColor('white')">
    </button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons>
      <button id="textButton" [style.background-color]=textButtonColor ion-button icon-left icon-only (tap)="toggleStyleBar('text')">
        <ion-icon name="md-text"></ion-icon>
      </button>
      <button id="paintButton" color="{{ paintButtonColor }}" ion-button icon-left icon-only (tap)="toggleStyleBar('paint')">
        <ion-icon name="brush"></ion-icon>
      </button>
      <button ion-button icon-left color="royal" on-tap="openGallery()" icon-only>
        <ion-icon name="image"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (tap)="clearRock()" icon-right>Clear</button>
      <button ion-button icon-right>
        Publish!
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
