page-home {

}

.colorButton {
	margin: 0;
}

#canvas {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.gallery-image {
	flex-basis: 85%;
	margin: auto 0;
}