<ion-header>
  <ion-navbar>
    <ion-title>
      Virtual Rock
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding id="back">
  <div class="gallery-image">
    <img [src]="imageSrc" />
    <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
  </div>
  
</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="textStyleShow">
  </ion-toolbar>
  <ion-toolbar *ngIf="paintStyleShow">
    <button id="red" color="red" class="colorButton" ion-button icon-left (tap)="changePenColor('red')">
    </button>
    <button id="blue" color="blue" class="colorButton" ion-button icon-left (tap)="changePenColor('blue')">
    </button>
    <button id="green" color="green" class="colorButton" ion-button icon-left (tap)="changePenColor('green')">
    </button>
    <button id="yellow" color="yellow" class="colorButton" ion-button icon-left (tap)="changePenColor('yellow')">
    </button>
    <button id="black" color="black" class="colorButton" ion-button icon-left (tap)="changePenColor('black')">
    </button>
    <button id="white" color="white" class="colorButton" ion-button icon-left (tap)="changePenColor('white')">
    </button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons>
      <!-- TODO: Change the color of the text icon when a new color is selected. -->
      <button id="textButton" ion-button icon-left icon-only (tap)="toggleStyleBar('text')">
        <ion-icon name="md-text"></ion-icon>
      </button>
      <!-- TODO: Change the color of the paintbrush when a new color is selected. -->
      <button id="paintButton" color="{{ paintButtonColor }}" ion-button icon-left icon-only (tap)="toggleStyleBar('paint')">
        <ion-icon name="brush"></ion-icon>
      </button>
      <button ion-button icon-left color="royal" on-tap="openGallery()" icon-only>
        <ion-icon name="image"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (tap)="clearRock()" icon-right>Clear</button>
      <button ion-button icon-right>
        Publish!
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
